/* Archivo principal que importa todos los estilos */
@import url('base.css');
@import url('components.css');
@import url('search.css');
@import url('modules/dashboard.css');
@import url('modules/inventory.css');
@import url('modules/sales.css');
@import url('modules/users.css');
@import url('modules/cash_register.css');
@import url('modules/settings.css');
@import url('modules/auth.css');